name: Jupyter_a_py

on:
  #push:
  #branches: [ "main" ]
  #pull_request: 
  
  # schedule:
    #  - cron: '* * * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  convert_file:

    runs-on: ubuntu-latest

    steps:

      - id: repo
        name: Repo Checkout
        uses: actions/checkout@v2

      - id: python
        name: Python Setup & Packages Installation
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          cache: 'pip'

     # - id: aws
     #   name: Configure AWS credentials
     #   uses: aws-actions/configure-aws-credentials@v1
     #   with:
     #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     #     aws-region: us-west-1

      - run: | 
              pip install ipynb-py-convert
              ipynb-py-convert archivo_ejemplo_01.ipynb archivo_ejemplo_01.py
     #         aws s3 cp archivo_ejemplo_01.py s3://tarroloco/pythonf/

 # Add new files in folder, commit along with other modified files, push
      - id: commit
        name: Commit files
        run:
          git config --local user.name actions-user
          git config --local user.email "actions@github.com"
          git add *
          git commit -am "GH ACTION Headlines $(date)"
          git push origin main
        env:
          REPO_KEY: ${{secrets.GITHUB_TOKEN}}

          username: github-actions

  upload_s3:

    runs-on: ubuntu-latest      

    steps:

      - id: repo2
        name: Repo Checkout2
        uses: actions/checkout@v2 

     - id: aws
        name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
     
     - run: aws s3 cp archivo_ejemplo_01.py s3://tarroloco/pythonf/